body {
  font-family: Copperplate, Papyrus, fantasy;
  background-color: var(--color-bg);
  background-image: url("https://cdn.glitch.global/88710779-0ec0-4268-93f7-8e7c825ce836/1b0de0c7-3a52-4dc1-8d7f-f0e05a97f436.image.png?v=1734688196560");
  background-size: cover;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #333;
  margin-bottom: 10px;
}
.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}
.custom-file-upload:hover {
  background-color: #555;
}
#upload {
  display: none;
}
.case-status {
  margin-top: 20px;
  font-size: 18px;
}
