<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Mariana Santos" />
    <meta name="description" content=" " />
    <meta name="keywords" content="PSHS-MC, CS3, Q1W2, meta, favicon" />
    <title></title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn.glitch.global/88710779-0ec0-4268-93f7-8e7c825ce836/183-1833102_magnifying-glass-vector-png-clip-art-magnifying-glass-removebg-preview.png?v=1730023404732"
    />
  </head>

  <!-- Import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" />

  <body>

   <br>    <!-- This is the start of content for our page -->
    <h1 class="title">Mystwood Mysteries</h1>

    <button onclick="myFunction()">Easy Level</button>
    <script>
      function myFunction() { window.open("easy.html");
      }

    </script>
    
     <button onclick="myFunction1()">Medium Level</button>
    <script>
      function myFunction1() { window.open("medium.html");
      }

    </script>
    
    <button onclick="myFunction2()">Hard Level</button>
    <script>
      function myFunction2() { window.open("hard.html");
      }

    </script>

  </body>
</html>